@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.bg {
  background: url("https://images.adsttc.com/media/images/5465/1a89/e58e/ceec/b500/018a/large_jpg/smi-images16_original.jpg?1415912016")
    no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  filter: blur(0px);
}
.loading-text {
  font-size: 50px;
  color: #fff;
  transition: opacity 0.1s ease-in-out;
}
